<form [formGroup]="form" class="col-10 m-auto overflow-auto" (submit)="submit()">
  <div formGroupName="author">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">ФИО специалиста</label>
      <input type="text"
             class="form-control"
             id="exampleInputEmail1"
             formControlName="fio"
      >
      <div *ngIf="form.get('author.fio')?.errors?.['required']">
        <small class="form-text"><b>*Обязательное</b> для заполнения поле</small>
      </div>

    </div>
    <div class="mb-3">
      <label for="login" class="form-label">Логин специалиста</label>
      <input type="text"
             class="form-control"
             id="login"
             formControlName="account"
      >
      <div *ngIf="form.get('author.account')?.errors?.['required']">
        <small class="form-text"><b>*Обязательное</b> для заполнения поле</small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail2" class="form-label">Занимаемая должность</label>
      <input type="text"
             class="form-control"
             id="exampleInputEmail2"
             formControlName="post"
      >
      <div *ngIf="form.get('author.post')?.errors?.['required']">
        <small class="form-text"><b>*Обязательное</b> для заполнения поле</small>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail4" class="form-label">Фактический адрес проживания</label>
    <input type="text"
           class="form-control"
           id="exampleInputEmail4"
           formControlName="address"
    >
    <div class="form-text" *ngIf="form.get('address')?.errors?.['required']">
      <small class="form-text"><b>*Обязательное</b> для заполнения поле</small>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail5" class="form-label">Краткое содержание документа в работе</label>
    <input type="text"
           class="form-control"
           id="exampleInputEmail5"
           formControlName="docName"
    >
    <div class="form-text" *ngIf="form.get('docName')?.errors?.['required']">
      <small class="form-text"><b>*Обязательное</b> для заполнения поле</small>
    </div>
  </div>
  <div class="mb-3 form-check form-group">
    <input type="radio" class="form-check-input" id="exampleCheck1" name="docType" formControlName="docType"
           value="Заявление">
    <label class="form-check-label me-5" for="exampleCheck1">Заявление</label>
    <input type="radio" class="form-check-input" id="exampleCheck2" name="docType" formControlName="docType"
           value="Сертификат">
    <label class="form-check-label" for="exampleCheck2">Сертификат</label>
    <div class="form-text" *ngIf="form.get('docType')?.errors?.['required']">
      <small class="form-text"><b>*Обязательное</b> выбрать вид документа</small>
    </div>
  </div>
  <div class="mb-3">
    <quill-editor class="col-12 text-center h3" [modules]="quillConfigImg"
                  placeholder="Чтобы добавить фото сотрудника нажмите на иконку в верхней строке"
                  formControlName="docCode"
    >

    </quill-editor>
    <div class="form-text" *ngIf="form.get('docCode')?.errors?.['required']">
      <small class="form-text"><b>*Обязательное</b> добавьте фото</small>
    </div>
  </div>
  <button type="submit" class="btn btn-secondary col-12" [disabled]="form.invalid">Добавить юриста</button>
</form>
